In [1]:
#Imports
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
#Data
df_messages=pd.read_csv('disaster_messages.csv')
df_categories=pd.read_csv('disaster_categories.csv').set_index('id')

In [3]:
df_messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [4]:
df_categories.head()

                                           categories
id
2   related-1;request-0;offer-0;aid_related-0;medi...
7   related-1;request-0;offer-0;aid_related-1;medi...
8   related-1;request-0;offer-0;aid_related-0;medi...
9   related-1;request-1;offer-0;aid_related-1;medi...
12  related-1;request-0;offer-0;aid_related-0;medi...

In [5]:
df_categories.iloc[0,0]

'related-1;request-0;offer-0;aid_related-0;medical_help-0;medical_products-0;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;refugees-0;death-0;other_aid-0;infrastructure_related-0;transport-0;buildings-0;electricity-0;tools-0;hospitals-0;shops-0;aid_centers-0;other_infrastructure-0;weather_related-0;floods-0;storm-0;fire-0;earthquake-0;cold-0;other_weather-0;direct_report-0'

In [6]:
labels=[x.strip('-[01]')  for x in df_categories.iloc[0,0].split(';')]
category_dummies=df_categories.categories.apply(lambda x: [y[-1] for y in x.split(';')]).apply(pd.Series).astype(int)
category_dummies.columns=labels
category_dummies.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
id,,,,,,,,,,,,,,,,,,,,,
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
dupes=category_dummies.index.duplicated(False)

In [8]:
duplicate_ids=category_dummies[dupes]
duplicate_ids[~duplicate_ids.duplicated(keep=False)].head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
id,,,,,,,,,,,,,,,,,,,,,
202,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
202,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1652,1,1,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1652,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3882,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

There are some id's which have more than one entry in the category dataframe. However the entries are not always the same, despite being associated to the same message. It's not totally clear if one or more entries for each duplicate id is just totally erroneous, but looking at the data the categories seem both similar and reasonable. Therefore we will take the union of the datapoints given in such situations. There are also rather strangely some datapoints with 2 in the related column.

In [9]:
union=duplicate_ids.groupby(level=0).max()
category_dummies.loc[union.index]=union
category_dummies=category_dummies.loc[category_dummies.index.duplicated(keep='first')]

In [10]:
(category_dummies.max(axis=1) > 1).sum()

6

In [11]:
df=df_messages.merge(category_dummies, left_on='id', right_index=True, how='inner')
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
162,202,?? port au prince ?? and food. they need gover...,p bay pap la syen ak manje. Yo bezwen ed gouve...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
163,202,?? port au prince ?? and food. they need gover...,p bay pap la syen ak manje. Yo bezwen ed gouve...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
655,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
656,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
709,862,What is the address of the radio station? I as...,Ki adres radyo a? Paske m bezwen al depoze dos...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
print(df.isna().sum())
nans=df.isna().apply(any, axis=1)
df[nans].head()

id                         0
message                    0
original                  76
genre                      0
related                    0
request                    0
offer                      0
aid_related                0
medical_help               0
medical_products           0
search_and_rescue          0
security                   0
military                   0
child_alone                0
water                      0
food                       0
shelter                    0
clothing                   0
money                      0
missing_people             0
refugees                   0
death                      0
other_aid                  0
infrastructure_related     0
transport                  0
buildings                  0
electricity                0
tools                      0
hospitals                  0
shops                      0
aid_centers                0
other_infrastructure       0
weather_related            0
floods                     0
storm                      0
fire                       0
earthquake                 0
cold                       0
other_weather              0
direct_report              0
dtype: int64

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
10101,11503,HELP THE EARTHQUAKE VICTIMS IN HAITI http tiny...,NaN,social,1,1,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
10102,11503,HELP THE EARTHQUAKE VICTIMS IN HAITI http tiny...,NaN,social,1,1,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
10821,12416,"Wand to donate jackets , hot meals , non-peris...",NaN,direct,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
10822,12416,"Wand to donate jackets , hot meals , non-peris...",NaN,direct,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
10826,12420,I can help deliver food to seniors who are tra...,NaN,direct,1,0,0,1,0,0,...,0,1,1,0,0,0,0,0,1,1

In [13]:
df.original.isna()

162      False
163      False
655      False
656      False
709      False
         ...
24856     True
25155     True
25156     True
25241     True
25242     True
Name: original, Length: 138, dtype: bool

Missing values in original if the message was originally in english. We can fill it in just in case it's needed. There is also  missing message, they have entries of the form "#NAME?". We'll drop these.

In [14]:
df.loc[nans,'original']=df.loc[nans,'message']
df=df[df.message != "#NAME?"].copy()

In [21]:
dupes=df.duplicated()
df.drop_duplicates(inplace=True)
dupes.sum()

71

There are some duplicates because they weren't removed from the df_message frame that the dummy columns were merged with.

In [16]:
engine = create_engine('sqlite:///Disaster-Messages-Categories.db')
df.to_sql('DMC', engine, index=False, if_exists='replace')